/* AuthStyles.css */

.button-container1 {
    display: flex;
    justify-content: center;
  }
  
  .button-container1 button {
    width: 300px;
    height: 260px;
    margin: 20px; /* Adjust spacing between buttons */
    padding: 10px 20px; /* Adjust button padding */
    font-size: 20px; /* Adjust button font size */
    font-weight: bold;
    font-family: Tahoma, sans-serif;
    border-radius: 15px;
    background-color: #ffffff42; /* Default button background color */
    color: rgb(0, 0, 0); /* Default button text color */
    cursor: pointer;
  }
  
  .button-container1 button:hover {
    background-color: #00000059; /* Button background color on hover */
  }

  .Home{
    background-image: url('C:/Users/hesha/Documents/ec/FRONTEND/src/stowell-banner-5-1536x1006.webp');
  }

  .htitle{
    font-weight: 900;
    text-align: center;
  }

  .button-container2 {
    display: flex;
    justify-content: center;
  }
  
  .button-container2 button {
    width: 300px;
    height: 200px;
    margin: 20px; /* Adjust spacing between buttons */
    padding: 10px 20px; /* Adjust button padding */
    font-size: 20px; /* Adjust button font size */
    font-weight: bold;
    font-family: Tahoma, sans-serif;
    border-radius: 15px;
    background-color: #ffffff42; /* Default button background color */
    color: rgb(0, 0, 0); /* Default button text color */
    cursor: pointer;
  }
  
  .button-container2 button:hover {
    background-color: #00000059; /* Button background color on hover */
  }
  