.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 60px;
    box-shadow: 0 1px 3px -2px #000;
    margin-bottom: 1px;
    background-image: url('D:\Github\Elder-care-goods-supply-management-system\FRONTEND\order processing frontend\admin\src\assets\back.jpg');
}

.nav-logo{
    width: 60px; 
    height: auto; 
    margin-right: 10px;
}

.nav-profile{
    width: 55px;
}

.title{
    font-size: 35px;
    font-weight: 600;
    color: #2a61b3;
}

@media(max-width:800px){
    .navbar{
        padding: 15px 30px;
    }
    .nav-logo{
        width: 150px;
    }
    .nav-profile{
        width: 60px;
    }
}

